{% extends "base.html" %}{% block title %}Registro Usuarios{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Registro usuarios</h3>
    <br />

    <div class="form-group">
      <label for="user">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="user"
        name="user"
        placeholder="Ingrese el usuario"
      />
    </div>
    <div class="form-group">
      <label for="password1">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Ingrese la contraseña"
      />
    </div>
    <div class="form-group">
      <label for="password2">Contraseña (Confirmación)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirmar contraseña"
      />
    </div>
    <div class="form-group">
      <label for="role">Escoja su rol:</label>
      <select id="role" name="role" class="form-control" required>
          <option value="admin">Administrador</option>
          <option value="cortador">Cortador</option>
          <option value="guarnecedor">Guarnecedor</option>
          <option value="ensamblador">Ensamblador</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

{% endblock %}